---
layout: default
title: Home
---
<section>
        <p>This is a technical blog containing information on wide variety of concepts like image processing,signal processing,acoustic localization
 ,machine learning,video streaming,mobile programming etc </p>

<p>Most of code is developed from scratch and is associated with documentation containing theoretical and algorithmic details that are missing in many opensource blogs</p>

      </section>

<div class="entries">
  {% for post in paginator.posts %}
  <ul class="entries">
    <li>
    	<a href="{{ site.baseurl }}/{{ post.url | remove_first:'/'}}">
        {{ post.title }} <span class="post-date">{{ post.date | date_to_string }}</span>
      </a>
	</li>
  </ul>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

