---
layout: default
title : {{ page.title }}
---

<div class="categories">
  <h1 class="h1 category-title">
    Topic:&nbsp;{{ page.category }}
    <section><h1>Category index for &ldquo;{{ page.category }}&rdquo;</h1></section>
  </h1>
  <div class="posts">
    <div class="entries"></div>
    {% for post in site.categories[page.category] %}
      
        <ul class="entries">
          <li>
              <a href="{{ site.baseurl }}/{{ post.url | remove_first:'/'}}">
              {{ post.title }} <span class="post-date">{{ post.category }} {{ post.date | date_to_string }}</span>
            </a>
          </li>
        </ul>
        <!-- <span class="post-summary">
            {{ post.excerpt }}
        </span> -->
      
    {% endfor %}
  </div>
  </div>
</div>


  <section>
    <div class="entries">
        {% for post in paginator.posts %}
        <ul class="entries">
          <li>
              <a href="{{ site.baseurl }}/{{ post.url | remove_first:'/'}}">
              {{ post.title }} <span class="post-date">{{ post.category }} {{ post.date | date_to_string }}</span>
            </a>
          </li>
        </ul>
        {% endfor %}
      </div>
  </section>
  <!-- Show navigation next/previous page links if applicable -->
  <nav><p>
    {% if paginator.previous_page %}<a href="{{ paginator.previous_page_path }}"><span aria-hidden="true">&larr;</span> Newer</a>{% endif %}
    {% if paginator.next_page %}<a href="{{ paginator.next_page_path }}">Older <span aria-hidden="true">&rarr;</span></a>{% endif %}
  </p></nav>

  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
    {% else %}
      <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
      {% else %}
        <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
