<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/pyVision/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pyVision/stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/pyVision/stylesheets/print.css" media="print">

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/x-mathjax-config">
   MathJax.Hub.Config({ 
                config: ["MMLorHTML.js"], 
                extensions: ["tex2jax.js","TeX/AMSmath.js","TeX/AMSsymbols.js"], 
                jax: ["input/TeX"], 
                tex2jax: { 
                    inlineMath: [ ['$','$'], ["\\(","\\)"] ], 
                    displayMath: [ ['$$','$$'], ["\\[","\\]"] ], 
                    processEscapes: false 
                }, 
                TeX: { 
                    TagSide: "right", 
                    TagIndent: ".8em", 
                    MultLineWidth: "85%", 
                    equationNumbers: { 
                       autoNumber: "AMS", 
                    }, 
                    unicode: { 
                       fonts: "STIXGeneral,'Arial Unicode MS'" 
                    } 
                }, 
                showProcessingMessages: false 
            }); 
</script>
<script src="/pyVision/javascripts/gitdata.js"></script>
	<script type="text/javascript">
    	$(function() {
        $("#display-projects").getRepos("pi19404"); //Add your github username.
    	});
	</script>
<script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<link href='http://alexgorbatchev.com/pub/sh/2.1.364/styles/shCore.css' rel='stylesheet' type='text/css'/> 
<link href='http://alexgorbatchev.com/pub/sh/2.1.364/styles/shThemeDefault.css' rel='stylesheet' type='text/css'/> 
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shCore.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushCpp.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushCSharp.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushCss.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushJava.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushJScript.js' type='text/javascript' /> </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushPhp.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushPython.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushRuby.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushSql.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushVb.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushXml.js' type='text/javascript' > </script>
<script src='http://alexgorbatchev.com/pub/sh/2.1.364/scripts/shBrushPerl.js' type='text/javascript' > </script>
<script language='javascript'> 
SyntaxHighlighter.config.bloggerMode = false;
SyntaxHighlighter.all();
</script>

    <title>pyVision by pi19404</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>pyVision</h1>
          <h2>pyVision Machine Learning Library</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/pi19404/pyVision/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/pi19404/pyVision/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/pi19404/pyVision" id="view-on-github" class="button"><span>View on GitHub</span></a>
		
	  
          </section>
	

	 <g:plusone size="medium">Google</g:plusone> 
		
	
       


        <hr>
      <section>
        {{ content }}
      </section>

 <footer>
          pyVision is maintained by <a href="https://github.com/pi19404">pi19404</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'pyvision'; // required: replace example with your forum shortname
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = 'http://pyvision.github.com{{ page.url }}';
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    </script>

  </body>
</html>


